@import '../../assets/variables';
@import '../../assets/mixins';

.logementsinfos {
   @include column-space;
    @media (max-width : 767.99px) {
        margin-top: 12px;
        justify-content: flex-start;
    }

    .titlediv {
        width: 70%;
        @media (max-width : 767.99px) {
            width: $size100;
        }
    
        .tittleh2p{
           text-align: left;

            
            .titleh2{
                color: $color-corail ;
                font-size: 36px;
                font-weight: 500;
                
                @media (max-width : 767.99px) {
                    font-size: 18px
                }
            }
            .titlep{
                font-size: 18px;
                font-weight: 500;
                @media (max-width : 767.99px) {
                    font-size: 14px;
                }
            }
        
        }
        .infostags{
            display: flex;
            @media (max-width : 767.99px) {
                width: $size100;
            }
            .infostagsul{
               @include flex-row;
                padding-left: 0;
                margin-top: 12px;
                .infostagsli {
                    background-color: $color-corail;
                    color: $color-none;
                    font-size: 14px;
                    height: 25px;
                    min-width: 115px;
                    padding: 4px 10px;
                    width: auto;
                    margin-right: 20px;
                    border-radius: 10px;

                    @media (max-width : 767.99px) {
                        height: 18px;
                        min-width: 84px;
                        font-size: 10px;
                        padding: 2px 6px;
                    }
                }
            }
        }
                
    }
    .infosaside{
       max-width: 30%;
       @media (max-width : 767.99px) {
            max-width: $size100;
           @include flex-space;
            flex-direction: row-reverse;
           
            margin-top: 8px;
            margin-bottom: 20px;
        }
        .asideround{
           @include flex-row;
            padding-top: 4px;
        
            .asideroundimg{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                padding-top: 10px;
                @media (max-width : 767.99px) {
                    padding-top: 0;
                }
            }
            .asideroundp{
                color: $color-corail;
                font-weight: 500;
                font-size: 18px;
                padding-right: 2px;
                width: 93px;
                text-align: right;
                @media (max-width : 767.99px) {
                    font-size: 12px;
                    width: 60px;
                    padding-top: 0;
                }
            }

        }
        .asidestars{
            margin-top: 28px;
            @media (max-width : 767.99px) {
                width: auto;
                margin: 0;
                padding-top: 6px;
            }
        }
    }
}
.descriptionequipement {
    @include flex-space;
    
   
    .dropdownopendiv{
        align-items: flex-start;
        position: relative;
        width: $size100;
        gap:20px;
        @include flex-row;
        justify-content: space-between;
        transition: opacity 0.15s ease-in-out;
        @media (max-width: 767.99px) {
          
            flex-direction: column;
        }
    
    
        .descdiv {
            display: flex;
            flex-direction: column;
        }
    
        .description-content {
           @include content-down;
            margin: 5px 0; 
            width: $size100;
        }
    }
}