@import '../../assets/variables';
@import "../../assets/mixins";
.collapse {
  @include display-column;
  width: $size100;
  overflow: hidden;
  .collapsediv {
    width: $size100;
    background-color: $color-corail;
    @include flex-row;
    justify-content: space-between;
    color: $color-none;
    padding: 0 20px;
    border-radius: 10px;

    @media (max-width: 767.99px) {
      width: $size100;
    }

    .arrow { 
      @include arrrow;
      transform: rotate(90deg);
    } 

    .arrowdown {
      @include arrrow;
      transform: rotate(-90deg);
    }
  }

  .collapsecontent {
    @include content-down;
    width: $size100;
   
  }

  .hidden {
    display: none;
  }
}


@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}




