@import '../assets/variables';
@import '../assets/mixins';

.body,
html {
    width: $size100;
    height: auto;
    margin: 0;
    padding:0;
    
}
.li, ul {
    list-style-type: none;
}
#root{
    width: $size100;
    margin:0;
}
.appdiv{
    @include flex-row;
    color: $color-black;
    display: none;

    .navapp{
        @include flex-row;
        gap: 30px;
        list-style-type:none;
    

        .liapp{
            color: $color-black;
            text-decoration: none;
            &:hover{
                color: $color-corail;
                ;
            }
        }
    }
}
