@import "../../assets/variables";
@import "../../assets/mixins";

.loaderspin{
   padding-left: 30%;
}
.bannerSlider {
    @include display-column;
    height: 415px;
    position: relative;
   
    @media (max-width : 767.99px) {
        height: 255px;
    }
    .bannerSliderImg {
        position: absolute;
        width: $size100;
        height: $size100;
        z-index: -1;
        @include cover;
        object-position: center;
        border-radius: 25px;
        @media (max-width : 767.99px) {
            border-radius: 10px;
        }
    }
    .bannerSliderTitle {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $color-corail ;
        padding: 10px;
        border-radius: 5px;
        font-size: 36px;
        font-weight: 500;
    }
    .bannerSliderArrow {
        position: absolute;
        top: 50%;
        width: $size100;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        .sliderarrow {
            position: absolute;
            cursor: pointer;
            height: 80px;
           
            @media (max-width : 767.99px) {
                height: 24px;
            }
        }
        .arrowLeft{
            color: $color-none;
            position:relative;
            font-size: 70px;

            @media (max-width : 767.99px) {
               font-size: 50px;
            }
        }
        .arrowRight{
            color: $color-none;
            position:relative;
            transform: rotate(180deg);
            font-size: 70px;
            @media (max-width : 767.99px) {
                font-size: 50px;
            }
        }
        
    }
    .bannerCount {
        position: absolute;
        color: $color-none;
        bottom:25px;
        font-size: 20px;
        @media (max-width : 767.99px) {
            font-size: 17px;
            bottom:20px;
        }
    }
   
}
