@import "../../assets/variables";
@import "../../assets/mixins";

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size100;
    height: 200px;
    box-sizing: border-box;
    background-color: $color-none;
    border-radius: 25px;
    @media (max-width: 767.99px) {
        background-color: $color-grey;
        width: $size100;
        height: 250px;
    }
}