@import "./variables.scss";


.bannerSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 415px;
    position: relative;

    @media (max-width : 767.99px) {
        height: 255px;
    }
    .bannerSliderImg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: center;
        border-radius: 25px;

        @media (max-width : 767.99px) {
            border-radius: 10px;
        }
    }
    .bannerSliderTitle {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $color-corail ;
        padding: 10px;
        border-radius: 5px;
        font-size: 36px;
        font-weight: 500;
    }

    .bannerSliderArrow {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);

        .sliderarrow {
            position: absolute;
            cursor: pointer;
            height: 80px;
    
            @media (max-width : 767.99px) {
                height: 24px;
            }
        }
        .arrowleft{
            color: black;
            position:relative;
        }
        
    }
}
.logementinfos {
    padding-left: 3%;

    .titlediv {
        width: 90%;
        display: flex;
        justify-content: space-between;
       

        .tittleh2p{
            gap: 0;
            
            .titleh2{
                color: $color-corail ;
                font-size: 36px;
                font-weight: 500;
                line-height: 51.34px;
                text-align: left;
                @media (max-width : 767.99px) {
                    font-size: 18px
                }
            }
            .titlep{
                font-size: 18px;
                font-weight: 500;
                line-height: 25.67px;
                text-align: left;
               

            }
        
        }
        .asideround{
            display: flex;
            flex-direction: row;
            height: 64px;
            width: 120px;
            gap: 20px;
            margin-top: 30px;
            .asideroundimg{
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            .asideroundp{
                color: $color-corail;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-weight: 500;
                font-size: 18px;
                .span{
                    margin-left: 15px;
                }
            }

        }

        
    }
    .infos{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin-bottom: 30px;
        .infosdatas{
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding-left: 0;
            .data{
                box-sizing: border-box;
                background-color: $color-corail;
                border-radius: 10px;
                padding: 2px 20px;
                font-size: 16px;
                color: $color-none;
                @media (max-width : 767.99px) {
                    font-size: 12px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .descriptionequipement{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        @media (max-width : 767.99px) {
            flex-direction: column;
           
        }
        .descdiv{
            display: flex;
            flex-direction: column;
            width: 45%;
            @media (max-width : 767.99px) {
                width: 100%;
            }
            
        
            .description{
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                background-color: $color-corail;
                border-radius: 10px;
                color: $color-none;
                width: 100%;
                padding: 0 10px;
                .descriptionimg{
                    width: 32px;
                    height: 32px;
                    margin-top: 10px;
                    @media (max-width : 767.99px) {
                        width: 16px;
                        height: 16px;
                    }
                }
                
            }
            .descriptionp{
                box-sizing: border-box;
                background-color: $color-grey;
                margin-top: 0;
                padding: 10px;
                margin-bottom: 30px;
                .li{
                    list-style-type: none;
                }
            }
        }
        .dropdownp{
            padding: 0 20px ;
        }
    }
}

.hidden{
    display: none;
}

.dropdownopendiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    @media (max-width: 767.99px) {
        width: 100%;
        padding:20px;
    }

    .dropddiv{
        width: 70% ;
        background-color: $color-grey;
        @media (max-width: 767.99px) {
            width: 100%;
        }
        .p{
            padding: 20px;
        }
        .ddodiv{
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            background-color: $color-corail ;
            justify-content: space-between;
            gap: 60px;
            width: 100%;
            color: $color-none ;
            padding: 0 20px;
            height: 54px ;
            @media (max-width: 767.99px) {
                width: 100%;
            }
        
            .imgddo {
                height: 32px;
                align-self: center;
              
            }
            .imgdown{
                height: 32px;
                align-self: center;
            }
        }
       .dropdownp{
        padding: 0 20px ;
        }
    }
}
.hidden{
    display: none;
}


