@import "./variables.scss";

.cards {
    background-color: $color-grey;
    gap: 20px;
    width: 90%;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    position: relative;
    overflow: scroll;
    left:3%;
    @media (max-width: 1024px) {
        width:90%;
    }
    @media (max-width: 767.99px) {
        width: 93%;
        padding:20px;
    }
   

    .cardscontent {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        gap:45px;
        @media (max-width: 1024px) {
           gap:40px;
        }
        @media (max-width: 767.99px) {
        gap:40px;
    }
    }
}

