@import '../style/variables.scss';

.collapse-container {
    margin-bottom: 10px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  
    .collapsediv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;
      background-color: $color-corail;

      .arrow{ 
        height:32px;
        align-self: center;
        transform: rotate(90deg);
      } 
   
      .arrowdown{
        height:32px;
        align-self: center;
        transform: rotate(-90deg);
      }
    }
  
    .collapse-content {
      padding: 10px;
      background-color: $color-grey;
    }
  }