@import "./variables.scss";

.dropdownopendiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    @media (max-width: 767.99px) {
        width: 100%;
        padding:20px;
    }

    .dropddiv{
        width: 70% ;
        
        overflow: hidden;
        @media (max-width: 767.99px) {
            width: 100%;
        }
        .p{
            padding: 20px;
        }
        .ddodiv{
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            background-color: $color-corail ;
            justify-content: space-between;
            gap: 60px;
            width: 100%;
            color: $color-none ;
            padding: 0 20px;
            height: 54px ;
            @media (max-width: 767.99px) {
                width: 100%;
            }
        
            .imgddo {
                height: 32px;
                align-self: center;
              
            }
            .imgdown{
                height: 32px;
                align-self: center;
            }
            .arrow{ 
                height:32px;
                align-self: center;
                transform: rotate(90deg);
            } 
           
            .arrowdown{
                height:32px;
                align-self: center;
                transform: rotate(-90deg);
            }
        }
       .dropdownp{
        display: block;
        padding: 0 20px ;
        background-color: $color-grey;
        padding-bottom: 20px;
        padding-top: 30px;
        top:-30px;
        z-index:-1;
        position: relative;
        animation: slide-down 0.7s ease-in-out;
        color: black;
       
        }
       
        @keyframes slide-down { 
            from{
                transform: translateY(-100%)
            }
        }  
        .dropupp{
            padding: 0 20px ;
            background-color: $color-grey;
            padding-bottom: 20px;
            padding-top: 30px;
            top:-30px;
            z-index:-1;
            position: relative;
            animation: slide-up 0.7s ease-in-out;
            color: black;
        }
        @keyframes slide-up { 
           
            to {
                transform: translate(-100%);
            }
        
        }
    }
}
.hidden{
    display: none;
}
