@import "./variables.scss";


.footer{
    background-color: $color-black;
    text-align: center;
    padding: 20px;
    padding-inline: 20px;
   
    .logofooter{
        margin-bottom: 10px;
    }
    .footertext{
        color:$color-none ;
    }
    @media (max-width: 767.99px) {
        width: 100%;
       
    }
}