@import "./variables.scss";

.card{
    position: relative;
    height: 100%;
    margin-bottom: 20px;
    @media (max-width: 767.99px) {
        width: 100%;
    }
  
    .cardimg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        border-radius: 10px;
        &:hover{
            transform: scale(1.1) ;
        }
    }
    .cardh2{
        position: absolute;
        color: $color-none ;
        font-size: 18px;
        left: 20px;
        bottom: -1px;
        width: 90%;
        text-align: left;
        z-index: 1;
        font-weight: 700;
        @media (max-width: 1024px) {
            width:90%;
            font-size: 16px;
        }
        @media (max-width: 767.99px) {
      
        font-size: 16px;
        }
    }
    
}
