@import "./variables.scss";

.star {
    padding-left: 4px;
    font-size: 26px;

  @media (max-width: 767.99px) {
   
      font-size: 14px;
      padding-right: 2px;
    }
}
  
.full {
    color: $color-corail
}
  
.empty {
    color:$color-none;
}