/***** variables */
/***** Header */
.header {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  height: 68px;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 3%;
}
@media (max-width: 767.99px) {
  .header {
    margin-top: 20px;
    width: 100%;
    height: 47px;
  }
}
.header .headerlogo {
  width: 210px;
  height: 68px;
}
@media (max-width: 767.99px) {
  .header .headerlogo {
    width: 40%;
    height: 47px;
    margin-left: 15px;
  }
}
.header .headerlist {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767.99px) {
  .header .headerlist {
    padding-left: 0;
  }
}
.header .headerlist .lih {
  list-style-type: none;
  padding-left: 57px;
  font-size: 24px;
}
@media (max-width: 767.99px) {
  .header .headerlist .lih {
    font-size: 12px;
    padding-left: 20px;
  }
}
.header .headerlist .headerli {
  color: black;
  text-decoration: none;
}
.header .headerlist .headerli:hover {
  text-decoration: underline;
}

/****** Banner */
.banner {
  height: 223px;
  width: 95%;
  position: relative;
  margin-bottom: 43px;
  left: 3%;
}
@media (max-width: 767.99px) {
  .banner {
    height: 111px;
    margin-bottom: 22px;
    width: 100%;
  }
}
.banner .bannerimg {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0.7);
}
@media (max-width: 767.99px) {
  .banner .bannerimg {
    border-radius: 10px;
    margin-left: 10px;
  }
}
.banner .bannerh1 {
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
}
@media (max-width: 767.99px) {
  .banner .bannerh1 {
    font-size: 24px;
    transform: translate(0, -50%);
    margin-left: 15px;
  }
}

/***** Footer */
.footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  padding-inline: 20px;
}
@media (max-width: 767.99px) {
  .footer {
    width: 100%;
  }
}
.footer .logofooter {
  margin-bottom: 10px;
}
.footer .footertext {
  color: #fff;
}

/***** Error */
.errordiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.errordiv .errorp {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
}
.errordiv .errorlink {
  font-size: 18px;
  color: black;
}

/***** Bannerapropos */
.bannerapropos {
  height: 223px;
  width: 92%;
  position: relative;
  margin-bottom: 43px;
  left: 3%;
}
@media (max-width: 767.99px) {
  .bannerapropos {
    width: 100%;
    padding: 10px;
  }
}
.bannerapropos .banneraproposimg {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}

/***** Dropdownopen */
.dropdownopendiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
@media (max-width: 767.99px) {
  .dropdownopendiv {
    width: 100%;
    padding: 20px;
  }
}
.dropdownopendiv .ddodiv {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #FF6060;
  justify-content: space-between;
  gap: 60px;
  width: 70%;
  color: #fff;
  padding: 0 20px;
  height: 54px;
}
@media (max-width: 767.99px) {
  .dropdownopendiv .ddodiv {
    width: 100%;
  }
}
.dropdownopendiv .ddodiv .imgddo {
  height: 32px;
  align-self: center;
}

/***** Card */
.cards {
  background-color: #F7F7F7;
  gap: 20px;
  width: 90%;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  position: relative;
  left: 3%;
  overflow: scroll;
}
@media (max-width: 767.99px) {
  .cards {
    width: 93%;
    padding: 20px;
  }
}
.cards .cardscontent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
}
@media (max-width: 767.99px) {
  .cards .cardscontent {
    gap: 20px;
  }
}

/***** Packagecard */
.card {
  height: 100%;
  width: 30%;
  position: relative;
  /*background: $color-corail ;*/
  margin-bottom: 20px;
}
@media (max-width: 767.99px) {
  .card {
    width: 100%;
  }
}
.card .cardimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.card .cardimg:hover {
  transform: scale(1.1);
}
.card .cardh2 {
  position: absolute;
  color: #fff;
  font-size: 18px;
  left: 20px;
  bottom: -1px;
  width: 60%;
  text-align: left;
  z-index: 1;
  font-weight: 700;
}
@media (max-width: 767.99px) {
  .card .cardh2 {
    width: 90%;
    font-size: 16px;
  }
}

/***** Bannerlogements */
.bannerSlider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.bannerSlider .bannerSliderImg {
  width: 100%;
  height: auto;
  display: block;
}
.bannerSlider .bannerSliderTitle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.bannerSlider .bannerSliderControls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.bannerSlider .bannerSliderControls .sliderarrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */