.errordiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.errorp {
  color: rgba(255, 96, 96, 1);
  font-size: 36px;
  font-weight: 500;
}
.errorlink {
    font-size: 18px;
    color: black;
}