.navbar {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 3%;
  }
  @media (max-width: 767.99px) {
    .navbar {
      margin-top: 20px;
      margin-bottom: 27px;
      height: 47px;
      padding: 0 20px;
    }
  }
  .navbar .navbarlogo {
    width: 210px;
    height: 68px;
  }
  @media (max-width: 767.99px) {
    .navbar .navbarlogo {
      width: 145px;
      height: 47px;
    }
  }
  .navbar .navbarlist {
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 767.99px) {
    .navbar .navbarlist {
      padding-left: 0;
    }
  }
  .navbar .navbarlist li {
    list-style-type: none;
    padding-left: 57px;
    font-size: 24px;
  }
  @media (max-width: 767.99px) {
    .navbar .navbarlist li {
      font-size: 12px;
      padding-left: 20px;
    }
  }
  .navbar .navbarlist a {
    color: #ff6060;
  }
  .navbar .navbarlist a.active {
    border-bottom: 2px solid #ff6060;
  }
  