@import "../../assets/variables/variables.scss";


.footer{
    background-color: $color-black;
    text-align: center;
    padding: 20px;
    padding-inline: 20px;
    width: 100%;
   
    .logofooter{
        margin-bottom: 10px;
    }
    .footertext{
        color:$color-none ;
    }
    
}