@import "../assets/variables/variables.scss";

.logementinfos {
    padding-left: 3%;
    margin-bottom: 40px;
    width: 100%;

    .titlediv {
        width: 90%;
        display: flex;
        
        justify-content: space-between;

        .tittleh2p{
            gap: 0;
            
            .titleh2{
                color: $color-corail ;
                font-size: 36px;
                font-weight: 500;
                line-height: 51.34px;
                text-align: left;
            }
            .titlep{
                font-size: 18px;
                font-weight: 500;
                line-height: 25.67px;
                text-align: left;

            }
        
        }
        .asideround{
            display: flex;
            flex-direction: row;
            height: 64px;
            width: 120px;
            gap: 20px;
            .img{
                width: 64px;
                height: 64px;
            }
            .asideroundp{
                color: $color-corail;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-weight: 500;
                font-size: 18px;
                .span{
                    margin-left: 15px;
                }
            }

        }

        
    }
    .infos{
        display: flex;
        justify-content: space-between;
        width: 95%;
        .infosdatas{
            display: flex;
            flex-direction: row;
            gap: 20px;
            .data{
                box-sizing: border-box;
                background-color: $color-corail;
                border-radius: 10px;
                padding: 2px 20px;
                font-size: 16px;
                color: $color-none;
            }
        }
    }
    .descriptionequipement{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        .descdiv{
            display: flex;
            flex-direction: column;
            width: 45%;
        
            .description{
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                background-color: $color-corail;
                border-radius: 10px;
                color: $color-none;
                width: 100%;
                padding: 0 10px;
                .descriptionimg{
                    width: 32px;
                    height: 32px;
                    margin-top: 10px;
                }
                
            }
            .descriptionp{
                box-sizing: border-box;
                background-color: $color-grey;
                margin-top: 0;
                padding: 10px;
            }
        }
        .dropdownp{
            padding: 0 20px ;
        }
    }
}

.hidden{
    display: none;
}

