@import './style/variables.scss';


.body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding:0;
    
}

#root{
    width: 100%;
    margin:0;
}
.appdiv{
    display: flex;
    flex-direction: row;
    color: $color-black;
    display: none;

    .navapp{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style-type:none;
    

        .liapp{
            color: $color-black;
            text-decoration: none;
            &:hover{
                color: $color-corail;
                ;
            }
        }
    }
}
