* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1440px;
    min-width: 320px;
}

#root {
    width: 100%;
}

.main-container {
    width: 100%;
}
* {
    font-family: "Montserrat", sans-serif;
}
.pagecontent{
    width: 100%;
}

