@import "../../assets/variables";
@import "../../assets/mixins";

.banner {
  height: 223px;
  position: relative;
  margin-bottom: 43px;
  @media (max-width: 767.99px) {
    height: 111px;
    margin-bottom: 22px;
  }

  .bannerimg {
    width: $size100;
    height: $size100;
    border-radius: 25px;
    @include cover;
    filter: brightness(0.7);
  
    @media (max-width: 767.99px) {
      border-radius: 10px;
      margin-left: 10px;
    }
  }
  .bannerh1 {
    position: absolute;
    padding: 30px;
    top: 10%;
    font-size: 48px;
    font-weight: 500;
    color: $color-none;
    display: flex;
    flex-wrap: nowrap;
    left:10%;
    
    @media (max-width: 767.99px) {
      font-size: 24px;
      padding-left: 20px;
      flex-wrap: wrap;
      top: -10%;
      left: 5%;
    }  
  }
}
  